body{
  background-color: #454545;
}
nav{
  background-color: #676767;
  margin: 100%;
  
  
}
a{
  
}
a:link{
  color:#000000;
  text-decoration: none;
}
a:visited{
  color:#000000;
  text-decoration: none;
}
a:hover{
  color:#666999;
  text-decoration: none;
}
a:active{
  color:#666699;
  text-decoration: none;
}
